# DB ADAPTERS
# MONGODB
MONGO_URI=mongo_uri


# SECRETS
JWT_SECRET=your_jwt_secret

# EMAIL PLUGIN
# SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=username
SMTP_PASS=password
SMTP_FROM=from@example.com